html {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar start */

/* Media Queries start*/
@media only screen and (max-width: 600px) {
    nav {
        height: 100px;
    } h2 {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        padding: 0 15px;
        width: 150px;
    } .container {
        display: flex;
        margin: auto;
    } .navbar {
        display: none;
    } .mobile {
        display: flex;
        align-items: center;
        padding: 0 5px;
    } .mobile a {
        font-size: 0.6rem;
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 5px;
    } .mobile i {
        padding-bottom: 2px;
    }
}

@media only screen and (min-width: 600px) {
    nav {
        height: 100px;
    } h2 { 
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        width: 300px; 
        margin-left: 50px;
    } .container {
        width: 1100px;
        margin: auto;
    } .navbar {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    } .navbar a {
        text-decoration: none;
        color: white;
        font-size: 0.8rem;
    }.mobile {
        display: none;
    }
}  

 @media only screen and (min-width: 769px) {
    h2 {
        font-size: 1rem;
    } .navbar a {
        font-size: 1rem;
    }
} 

@media only screen and (min-width: 992px) {
    nav {
        height: 75px;
    } h2 {
        font-size: 1rem;
        margin-left: 150px;
    } .navbar a {
        font-size: 1rem;
    } 
}

@media only screen and (min-width: 1200px) {
    nav {
        height: 100px;
    } h2 {
        font-size: 1.25rem;
        margin-left: 200px;     
    } .navbar a {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1800px) {
    nav {
        height: 100px;
    } h2 {
        width: 350px;
        font-size: 2rem;
        margin-left: 200px;
    } .container {
        width: 2200px;
        margin: auto;
    } .navbar {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    } .navbar a {
        font-size: 2rem;
    }
}
/* Media Queries end */

nav {
    border-bottom: gray 1px solid;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
}

/* Navbar end */

/* Background for create and get started */

.background {
    border: solid 1px black;
    background-color: black;
    border-radius: 100px;
    padding: 5px 10px;
}

.background i {
    margin: auto;
    padding-left: 15px;
}
/* Background end */

/* Main section start */

/* Media Queries start for main content */
@media only screen and (max-width: 600px) {
    .main {    
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 75vh;
        width: 100%;
    } .main-text {
        margin: auto;
    } h1 {
        font-size: 2rem;
        text-shadow: 0px 5px 5px #000000;
        padding: 0 15px;
    } h3 {
        padding: 0 15px;
    }
}

@media only screen and (min-width: 600px) {
    .main {
        height: 75vh;
        width: 100%;
    } .main-text {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin: auto;
        height: 75vh;
    } h1 {
        font-size: 1.75rem;
        text-shadow: 0px 5px 5px #000000;
        line-height: 1.1;
        padding: 0 15px;
        margin-left: 25px;
    } h3 {
        padding: 0 15px;
        margin-left: 25px;
    }
} 

@media only screen and (min-width: 768px) {
    h1 {
      font-size: 2.5rem;  
    } h3 {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 992px) {
    .main-text {
       position: absolute;
       left: 100px;
    }
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 3.75rem;
    } .main-text {
        position: absolute;
        left: 150px;
    }
}

@media only screen and (min-width: 1800px) {
    .main-text {
        position: absolute;
        left: 175px;
    } h1 {
        font-size: 4.25rem;
    }
}





/* Media Queries end for main content */


.main-content-photo {
    background-image: url(/resources/images/holiday.jpg);
    background-size: cover;
    background-position: center;
}

/* Main section end */


/* booking section */

.booking-container {
    width: 100%;
}

.booking {
    /* height: 15vh; */
}

.marino  {
    color: gray;
}

.stay-info {
    color: black;
    border-bottom: black 1px solid;
    border-width: 100%; 
    font-size: 1.25rem;
}


/* Booking media queries start */
@media only screen and (max-width: 600px) {
    .stay-info {
        width: auto;
        padding: 0 15px;
    } .search {
        position: absolute;
    }
}

@media only screen and (min-width: 600px) {
    .booking {
        width: auto;
        display: flex;
        align-items: center;
        margin: auto; 
    } .stay-info {
        margin-right: 25px;
        width: 25%;
        font-size: 1rem;
    } .booking-container {
        padding: 25px 10px;
        margin-left: 25px;
    } 
}

@media only screen and (min-width: 768px) {
    .booking {
        width: 90%;
        position: absolute;
        left: 50px;
        padding-bottom: 25px;
    } .stay-info {
        margin-right: 50px;
        width: 40%;
    }
} 

@media only screen and (min-width: 992px) {
    .booking {
        width: 80%;
        position: absolute;
        left: 200px;
    }
}

/* Booking media queries end */

/* icons */

.fa-location-arrow {
    color: black;
}

.stay-info, .fas {
    padding-right: 15px;
}
.search {
    margin: 10px 10px;
    padding-top: 30px;
} 

.fa-search {
    border-radius: 50%;
    background-color: black;
    padding: 20px 20px;
}

.fa-search:hover {
    color: black;
    background-color: white;
}

/* icons end */